.containerLogin {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 2rem;
    height: 100vh;
    gap: 10em;
    justify-content: center;
}

.logoDiv {
    color: black;
    border-radius: 20px;
    padding: 1em;
    text-align: center;
}

.logo {
    height: 10em; /* Make the logo smaller */
    padding: 1.5em;
    transition: transform 0.5s ease-in-out;
}

.logo:hover {
    filter: drop-shadow(0 0 2em mediumpurple);
    transform: rotate(360deg);
}

.loginForm {
    max-width: 400px;
    width: 100%;
}