body {
    background-color: #F5F5F5;
    color: black;
}
#root {
    width: 100vw;
    min-height: 100vh;
}
.main-section {
    margin: 0 auto;
    padding: 2rem;
}
.material-content {
    margin: 15px 0;
    padding: 10px;
}
.material-card {
    margin: 15px 5px;
    background: #FBFCFC;
}
.top-card {
    display: flex;
    flex-direction: row;
    padding: 25px 10px;
}
.top-card > h3 {
    margin-right: auto;
}
.top-card > a {
    margin-left: auto;
}

.bottom-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    width: 100%;
}
.bottom-card > div {
    display: flex;
    flex-direction: column;
    max-width: 25%;
    text-align: center;
}
.bottom-card > div > a > img {
    width: 95%;
    margin: auto;
    padding-top: 8px;
    transition: 0.3s;
}
.bottom-card > div > p { padding: 8px 0; }

.bottom-card > div > a > img:hover {
    opacity: 70%;
}
