.containerHardware {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-top: 70px;
    max-width: 1200px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    border-radius: 10px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
}

.hardware-image {
    max-width: 90%;
    max-height: 360px;
    object-fit: contain;
}

.details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    padding: 20px;
    width: 100%;
}

.details-paper {
    padding: 20px;
    width: 100%;
    border-radius: 20px;
}

.hardware-name {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 10px;
}

.hardware-ref {
    font-size: 1rem;
    color: #555;
    margin: 5px 0;
}

.attributes-list {
    list-style: none;
    padding: 0;
}

.attributes-list li {
    font-size: 1rem;
    color: #555;
    margin: 10px 0;
}

.attributes-list li strong {
    color: #333;
}

.book-button {
    position: absolute;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.book-button:hover {
    background-color: purple;
}