.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    width: 90vw;
    margin: 50px auto;
}

.cardHardware {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 16px;
}

.imgHardware {
    width: auto;
    height: 25vw;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.titleType {
    margin-top: 22px;
    text-align: center;
    font-size: 2em;
}
