/* Admin_navigation.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.admin_navigation {
    position: fixed;
    top: 60px;
    left: 0;
    width: 60%;
    border-right: 1px solid #ccc;
}

